<nav class="container">
  <div class="left">
    <span>Tomas Oh</span>
  </div>
  <div class="right">
    <div [ngClass]="{ sections: true, active: isOpen }">
      <button class="closeNavbarBtn" (click)="isOpen = !isOpen">X</button>
      <span
        *ngFor="let item of navbarItems"
        (click)="scrollToLocation($event, item.path)"
      >
        {{ item.title }}
      </span>
    </div>
    <button (click)="isOpen = !isOpen" class="openNavbarBtn">O</button>
  </div>
</nav>

<div
  [ngClass]="{ darkCover: true, activeCover: isOpen }"
  (click)="isOpen = !isOpen"
></div>
