.hero {
  margin-top: 2rem;
  display: flex;
}

.left,
.right {
  flex: 1;
}

.right {
  display: flex;
  align-self: center;
  justify-content: center;
}

.right > img {
  border-radius: 50%;
  width: 20rem;
  height: auto;
}

@media only screen and (max-width: 40rem) {
  .hero {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .right > img {
    width: 15rem;
  }
}
