.hero {
  margin-block: 2rem;
  display: flex;
}

.subtitle {
  font-size: 2rem;
  margin-block-end: 0.5rem;
}

.blue {
  color: var(--color-blue);
}

.left,
.right {
  flex: 1;
}

.left > p {
  margin-block-end: 1rem;
}

.right {
  display: flex;
  align-self: center;
  justify-content: center;
}

.right > img {
  border-radius: 50%;
  width: 20rem;
  height: auto;
}

@media only screen and (max-width: 40rem) {
  .hero {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .right > img {
    width: 15rem;
  }
}
