.projectContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 1.5rem;
  width: auto;
}

.image {
  width: 20rem;
  height: auto;
}

.techStackContainer {
  display: flex;
  gap: 0.5rem;
}
