.subtitle {
  font-size: 2rem;
}

.programmingSkillsContainer,
.frameworkSkillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.programmingSkillsContainer > img,
.frameworkSkillsContainer > img {
  width: 5rem;
}