.sectionTitle {
  font-size: 2.25rem;
}

.sectionSubtitle {
  font-size: 1.75rem;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-block-end: 2rem;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
}

.skillsContainer > div {
  display: flex;
  row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

.skillsContainer > div > img {
  cursor: pointer;
  width: 5rem;
  aspect-ratio: 1;
}

@keyframes expand {
}

@media only screen and (max-width: 40rem) {
  .skillsContainer > div {
    column-gap: 1rem;
  }
  .skillsContainer > div > img {
    width: 3rem;
  }
}
