.container {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(255, 255, 255);
  /* border-bottom: 1px solid rgb(207, 207, 207); */
  box-shadow: var(--box-shadow);
}

.container > * {
  cursor: pointer;
}

.right > * {
  margin-inline: 0.5rem;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-contrast);
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 1rem;
}

@media only screen and (max-width: 40rem) {
  .container {
    position: fixed;
  }
}
